

<section class="cars" id="cars">
    <div class="container">
      <h2>
        Выберите автомобиль
      </h2>

      <div class="cars-content" id="cars-content">
        <aside class="cars-filter">
          <ul>
            @for(item of carsFilter; track item.name;) {
                <li (click)="selectFilterItem(item.name)" [class.active]="item.active">{{item.name}}</li>
            }
         
          </ul>
        </aside>
        <div class="cars-items">
            @for(car of carsItems; track car.title){
                <app-car-item [car]="car"></app-car-item>
            }
           
        </div>
      </div>

    </div>
  </section>