<section class="order">
  <div class="container">
    <img src="public/images/order-car.png" alt="order-car">

    <form id="order" [formGroup]="orderForm">
      <h3>Забронируйте автомобиль</h3>
      <p>
        Заполните контактные данные, и мы перезвоним вам для обсуждения деталей и подтверждения бронирования
      </p>

      <div class="order-form">
        <input type="text" id="auto" [class.error]="validationForm('car')" name="car" [value]="titleCar" formControlName="car"  readonly placeholder="Автомобиль">
        <input type="text" id="name" [class.error]="validationForm('name')" name="name" formControlName="name" required placeholder="Ваше имя">
        <input type="tel" id="phone" [class.error]="validationForm('phone')" name="phone" formControlName="phone" minlength="10" required
          placeholder="Ваш телефон">

        <button type="submit" [disabled]="!orderForm.valid" class="btn" (click)="sendOrder()"> Забронировать</button>
      </div>
    </form>
  </div>
</section>