<section class="order">
    <div class="container">
        <img src="assets/images/order-car.png" alt="order-car">

          <form id="order">
            <h3>Забронируйте автомобиль</h3>
            <p>
              Заполните контактные данные, и мы перезвоним вам для обсуждения деталей и подтверждения бронирования
            </p>

            <div class="order-form">
              <input type="text" id="auto" name="auto" placeholder="Автомобиль">
              <input type="text" id="name" name="name" placeholder="Ваше имя">
              <input type="tel" id="phone" name="phone" placeholder="Ваш телефон">

              <button type="submit" class="btn"> Забронировать</button>
            </div>
          </form>
    </div>
  </section>