<article class="car">
    <img [src]="car.image" alt="Mercedes C180 Convertible">
    <div class="car-details">
        <h4>{{car.title}}</h4>
        <p>
            {{car.text}}
        </p>
        <div class="car-action">
            <ul>
                <!-- @for(let period of ["на 1 сутки","на 1-3 суток","на 3+ суток"];track $index) {
                <li>
                    <div class="car-period">{{period}}</div>
                    <div class="car-price">{{car.prices[$index]}} $ @if($index>0) {<span> /сут</span>
                        } </div>
                </li>
                } -->

            </ul>
            <a href="#order" class="btn white-btn">Забронировать</a>
        </div>
    </div>
</article>