
.car{
    background-color: #212121;
    padding: 20px;
    display: flex;
    column-gap: 24px;
  
  }
  .car img{
    max-width: 568px;
  
  }
  
  .car-details{
    display: flex;
    flex-direction: column;
  }
  
  .car-details h4{
    font-size: 30px;
    line-height: 120%;
    margin-bottom: 20px;
    
  }
  .car-details p {
    font-size: 16px;
    line-height: 120%;
    letter-spacing: normal;
    color: #d4d4d4;
    height: 100px;
  
  }
  .car-action{
    margin-top: auto;
  }
  
  .car-action ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  .car-period{
    font-size: 16px;
    color: #d4d4d4;
    line-height: 120%;
    margin-bottom: 5px;
  }
  .car-price{
    font-size: 24px;
    line-height: 120%;
  }
  .car-price span{
    font-size: 16px;
    line-height: 120%;
    color: #d4d4d4;
  }
  
  .car-action .btn{
    max-width: 100%;
  }
  